.dist
.phpdoc
.phpunit.result.cache
.vs
build
composer.json
composer.lock
node_modules
package-lock.json
public/.user.ini
public/favicon.ico
public/rdbadmin-public
rdb

#eclipse project files.
.buildpath
.project
.settings